﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="SGV.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Login</title>
</head>
<body Style="text-align:center;">

    <form id="form1" runat="server">
        
        
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <asp:Label ID="Label1" runat="server" Font-Size="28pt" Text="Iniciar Sesión"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label2" runat="server" Font-Size="14pt" Text="Usuario:   "></asp:Label>
        <br />
        <asp:TextBox ID="tbUsuario" runat="server" Width="290px"></asp:TextBox>
        <br />
        <br />
        <asp:Label ID="Label3" runat="server" Font-Size="14pt" Text="Contraseña:"></asp:Label>
        <br />
        <asp:TextBox ID="tbContraseña" runat="server" Width="290px"></asp:TextBox>
        <br />
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" Font-Size="14pt" OnClick="Button1_Click" Text="Ingresar" />
        <br />
        <br />
        <br />
        
        
    </form>

</body>
</html>
